{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true
      },
      "target": "es5",
      "loose": false,
      "minify": {
        "compress": false,
        "mangle": {
          "toplevel": false,
          "keep_classnames": false,
          "keep_fnames": false,
          "keep_private_props": false,
          "ie8": false,
          "safari10": false
        }
      }
    },
    "module": {
      "type": "commonjs"
    },
    "minify": true,
    "isModule": true,
    "env": {
        "targets": {
          "chrome":"79"
        },
        "mode": "entry",
        "coreJs": "3.22",
        "bugfixes": false
      }
}